* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    color: #989898;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


/*HEADER*/
header {
    margin-bottom: 40px;
}

#logo {
    height: 80px;
    padding-right: 20px;
}

#vertical-line {
    border-left: 1px solid #dedede;
    height: 80px;
    display: inline-block;
}


/*Menù navigazione*/
ul {
    padding-inline-start: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #989898;
}



/*MAIN*/
/*main: first section*/
.spotlight {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-size: 100%;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.dark-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.spotlight-text {
    color:white;
    padding-left: 50px;
    padding-top: 320px;
    padding-right: 550px;
}

#spotlight-title {
    font-size: 30px;
}

#spotlight-description {
    font-size: 15px;
}

/*main: article*/ 
.box {
    width: 100%;
    height: 650px;
}

#leadership-title {
    color: black;
    font-style: font-family: 'Montserrat', sans-serif;
    font-size: 30px;   
}

#leadership-par {
    color: #989898;
    font-size: 15px;
}

.columns {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 525px;
}

.sidebar {
    width: 20%;
    height: 100%;
    float: left;
}

.main-bar {
    width: calc(60% - 34px);
    height: 100%;
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.banner {
    width: 100%;
    height: 35%;
    border-radius: 10px;
    margin-bottom: 20px;
}

#plant {
     background-image: url(../img/img-1.jpg);
     background-size: 90%;
     background-position: center;
}

#lamp {
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#man-with-coffee {
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center;
}

.bar-text {
    width: 100%;
    font-size: 15px;
}

.bar-text-title {
    color:black;
    margin-bottom: 10px;
}


/*FOOTER*/
footer {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 30px; 
    color: black;
    text-align: center;
}

#heart::after {
    content: "\2764";
    color: red;
}